{{page-title "FetchExample"}}

<header><h1>Fetched: Artworks</h1></header>
<nav>
    <ul>
        <li>
            <LinkTo @route="artworks">Artworks</LinkTo>
        </li>
    </ul>
</nav>
<main id="main">
    {{outlet}}
</main>
